<div id="<%= dom_id card_set %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= card_set.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= card_set.description %>
  </div>
</div>
